main {
    max-width: 992px;
    margin: 0 auto;
}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.18rem;
    color: var(--white);
    margin-top: 2.56rem;
    max-width: 992px;
}

section {
    display: flex;
    flex-wrap: wrap;
}

@media(max-width: 600px) {
    .title {
        margin: 2.75rem 0rem 1rem 0rem;
    }
}

@media(max-width: 1024px) {
    section {
        justify-content: center;
    }
    .title {
        margin-left: 30px;
    }
}
