main {
    max-width: 992px;
    margin: 0 auto;
}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.18rem;
    color: var(--white);
    margin-top: 3.56rem;
    max-width: 992px;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.cardMenu {
    width: 13.25rem;
    height: 15.31rem;
    background-color: var(--graphite);
    border-radius: 10px;
    margin: 1.56rem 1.37rem 0rem 0;
    color: var(--white);
    font-family: roboto;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.cardMenu:hover {
    border: 1px solid var(--green);
    transition: 0.8s;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
}

.cardMenu figure img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.cardBody {
    text-align: center;
}

.cardBody p {
    font-size: 1rem;
    line-height: 1.12rem;  
    margin: 0.56rem; 
    font-weight: bold;
}

.cardBody span {
    font-size: 0.68rem;
    color: var(--gray);
}

.cardBody span:active, span[class=active]{
    color: gold;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0rem 0.81rem 1rem 0.81rem;
}

.cardFooter p {
    font-size: 0.75rem;
    line-height: 0.87rem;
}

.cardFooter p:last-child {
    font-size: 1rem;
    line-height: 1.18rem;
} 

@media(max-width: 600px) {
    section {
        flex-direction: column;
    }
    .cardMenu {
        width: 90%;
        display: flex;
        height: 7.62rem;
        margin: 0.75rem;
    }
    .cardBody {
        width: 100%;
    }

    .cardFooter p{
        display: block;
        margin-left: -130px;
        margin-top: 50px;
    }
    .cardMenu figure img {
        width: 11.5rem;
    }
    .title {
        margin: 2.75rem 0rem 1rem 0rem;
    }
}

@media(max-width: 1024px) {
    section {
        justify-content: center;
    }
    .title {
        margin-left: 30px;
    }
}

@media(min-width: 1300px) {
    
    .title {
        margin-top: 100px;
    }
}

