.cardSuccess {
    background-color: var(--graphite);
    width: 55.18rem;
    height: 30rem;
    margin: 4.5rem auto;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    text-align: center;
}

.cardSuccess .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 2.87rem;
    max-width: 186px;
    font-family: roboto;
    color: var(--white);
} 

.cardSuccess figure img{
    margin: 3.68rem 0 3.5rem 0;
}

.cardSuccess button {
    background: var(--green);
    width: 16.43rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    font-family: roboto;
    color: var(--white);
}

.cardSuccess button:hover {
     background: var(--buttonDark);
     transition: 0.6s;
}
